/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

 .queue-content-box {
    width: calc(100% - 2rem); /* Subtract padding from the total width */
    height: calc(100vh - 2rem); /* Subtract padding from the total height to ensure it's nearly as tall as the container */
    border-radius: 0.5rem;
    background-color: white;
    padding: 20px; /* Adjust padding to your preference */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow: auto; /* Add scroll for overflow content */
  }
  
  .header .title-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
   
  .title-group div {
    flex-grow: 1; 
    text-align: center;
    font-size: 1.25rem; 
    font-weight: 600; 
    color: #010407;
  } 
  
  .fit-to-screen-button {
    padding: 8px 16px;
    background-color: #007BFF; /* Primary blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .fit-to-screen-button:hover {
      background-color: #0056b3;
  }

  .visualize-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px; 
    max-height: 80%; /* Ensure there's space around the area within the content box */
    width: 100%;
    border-radius: 0.5rem;
    border: 2px dashed #d1d5db;
    background-color: #f9fafb; 
    gap: 0.2rem;
    padding: 20px;
  }