/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import '~material-design-icons/iconfont/material-icons.css';

.top-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .dropdown-wrapper{
    padding-right: 40px;
    .part-label {
      color: #333;
      font-size: 14px;
      margin-right: 10px;
    }
  }
  .right-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
    gap: 12px;

    .btn-wrapper {
      filter: drop-shadow(0px 2px 1px rgba(90, 90, 90, 0.5));
      &:hover{
        filter: drop-shadow(0px 3px 3px rgba(90, 90, 90, 0.5));
      }
      :hover{
        cursor: pointer;
      }
      .btn{
        display: block;
        border: none;
        padding: 5px 16px;
        border-radius: 5px;
        font-size: 24px;
        transform: translateY(-13px);
      }
      .material-icons{
        transform: translateY(2px);
      }
    }
  }
  
}

.nodes-view {
  width: 100%;
  .mat-mdc-header-cell {
    font-size: 15px;
    font-weight: 500;
    color: #666;
  }
  .mat-mdc-cell {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .mat-res-ul{
      padding: 0;
      margin: 0;
      .mat-res-li{
        list-style-type: none;
      }
    }
    .mat-toggle-more {
      display: block;
      color: #a1a3b7;
      padding: 5px 45px 0 0;
      &:hover {
        color: #8d00d4;
      }
    }
    .mat-attr-ul{
      padding: 0;
      margin: 0;
      .mat-attr-li{
        list-style-type: none;
      }
    }
  }
  .mat-mdc-row {
    &:hover {
      background: #cccccc;
      cursor: pointer;
    }
    &.selected-row {
      background: #303d54;
      .mat-mdc-cell {
        color: #fff;
        .mat-toggle-more {
          color: #b8bbff;
          &:hover {
            color: #b871dc;
          }
        }
      }
    }
  }
  .mat-mdc-header-cell.indicator-icon,
  .mat-mdc-cell.indicator-icon {
    max-width: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .node-allocations {
    margin-top: 20px;
    .mat-mdc-table {
      margin-top: 20px;
    }
  }
  .no-record {
    font-size: 14px;
    font-weight: 500;
    color: #666;
    width: 100%;
    text-align: center;
  }
}