<mat-accordion class="example-headers-align">
    <mat-expansion-panel disabled>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Healthy
            </mat-panel-title>
            <mat-panel-description>
                Scheduler status
                <ng-container *ngIf="schedulerHealth.Healthy; else SomethingHappens">
                    <mat-icon>done</mat-icon>
                </ng-container>
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle *ngFor="let healthCheck of schedulerHealth.HealthChecks">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ healthCheck.Name }}
            </mat-panel-title>
            <mat-panel-description>
                {{ healthCheck.Description }}
                <ng-container *ngIf="healthCheck.Succeeded; else SomethingHappens">
                    <mat-icon>done</mat-icon>
                </ng-container>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p> {{ healthCheck.DiagnosisMessage }} </p>
    </mat-expansion-panel>
</mat-accordion>

<ng-template #SomethingHappens>
    <mat-icon>close</mat-icon>
</ng-template>